{{define "title"}}{{end}}
{{define "head"}}
<style>
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .main form {
        border: 1px solid lightgray;
        padding: 6px;

    }

    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }


    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
</style>

<script>
</script>
{{end}}

{{define "body"}}
{{template "nav" .}}
<div class="main">
    <fieldset>
        <legend>Menu</legend>
        <div class="pure-control-group">
            <div class="upload-btn-wrapper">
                <a href="/host"  class="pure-button pure-button-primary" ><i class="fas fa-network-wired"></i> Host File</a>
            </div>
        </div>
        <div class="pure-control-group">
            <div class="upload-btn-wrapper">
                <a href="/devices" class="pure-button pure-button-primary"><i class="fas fa-network-wired"></i> Network Devices</a>
            </div>
        </div>

        <!-- <div class="pure-controls">
            <div class="upload-btn-wrapper">
                <a href="/youtube" class="pure-button pure-button-primary"><i class="fab fa-youtube"></i> Download</a>
            </div>
        </div> -->

        <!-- <div class="pure-controls">
            <div class="upload-btn-wrapper">
                <a href="/reload_config" class="pure-button pure-button-primary"><i class="fas fa-cogs"></i> Reload Config</a>
            </div>
        </div> -->
    </fieldset>
</div>
{{end}}


{{define "nav"}}
<style>
    nav {
        padding: 5px;
        border-bottom: 1px solid grey;
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: stretch;
    }

    nav * {
        margin: 4px;
    }

    .spacer {
        width: 100%;
    }
</style>
<nav>
    <span class="spacer">&nbsp;</span>
</nav>
{{end}}